/* generelle Einstellungen*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Der ganze NEWS Ticker kack  */
.hwrap {
overflow: hidden; /* HIDE SCROLL BAR */
background: #eee;
border-style: solid;
border-color: #036b6a;
}

.hmove { display: flex; }

.hitem {
flex-shrink: 0;
width: 100%;
box-sizing: border-box;
padding: 5px;
text-align: center;
}

@keyframes tickerh {
0% { transform: translate3d(100%, 0, 0); }
100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 45s infinite; }
.hmove:hover { animation-play-state: paused; }

/* Navbar */
nav{
  position: fixed;
  z-index: 2;
}
/* Dropdown Button */
.dropbtn {
  background-color: #036b6a;
  color: white;
  padding: 17.5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(161, 143, 143);
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  font-size: 20px;
  background-color: #036b6a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(161, 143, 143);
    color: white;
  }
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* layout main */
body {
  background-color: grey;
}

/* Überschriften */
h1 {
  text-align: center;
}

/* Teilüberschriften */
h2 {
  text-align: center;
}

/* Text */
p {
  text-align: justify;
}

/* layout left collum */
.left {
  
    float: left;
    width: 20%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 100px;
}

/* layout right collum */
.right {
  background-color: rgb(51, 48, 48);
  float: left;
  width: 75%;
  padding-top: 100px;
  border-left: 5px solid #036b6a;
  
}
/* left collum pieces */

/* left collum picture */
.lcp {
  margin-left: 10%;
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

/* layout design buttonbox */
.bbox {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 30px;
  text-align: center;
  background-color: #036b6a;
  border-color: #575555;
  border-style: solid;
  border-radius: 12px;
}

/* layout design button */
.button1 {
  font: bold Arial;
  font-size: 2vw;
  padding: 10px;
  text-decoration: none;
  color: white;
}

/* right collum pieces */

/* right collum text */
.rct {
  z-index: 2;
  font-size: 25px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10px;
  padding: 10px;
  border-style: solid;
  border-color: #036b6a;
  border-radius: 12px;
  background-color:white;
}

/* right collum picture */
.rcp {
  margin-left: 10%;
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

/* BILDER */

.rcp {
  border-radius: 20px;
  border:5px solid #036b6a;
}

/* FOOTER */


footer{
background: #036b6a;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
font: bold 16px sans-serif;
text-align: left;
padding: 50px 60px 40px;
overflow: hidden;
}

section {
width: 100%;
display: inline-block;
background: #ccc;
height: 60vh;
text-align: center;
font-size: 22px;
font-weight: 700;
text-decoration: underline;
}


/* Footer auf derlinken Seite */

footer .footer-left{
float: left;
}

/* LOGO  */

footer h3{
color:  #ffffff;
margin: 0 0 10px;
}


/* Footer links */

footer .footer-links{
color:  #ffffff;
margin: 0 0 10px;
padding: 0;
}

footer .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
}

footer .footer-company-name{
color:  #8f9296;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Links */

footer .footer-icons{
margin-top: 40px;
}

footer .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #33383b;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}